.timesheet-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;

  .names-column {
    flex: 0 0 250px;
    border-right: 1px solid #dee2e6;
    background: white;
    z-index: 2;

    .header-cell,
    .name-cell {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      background: white;
    }
  }

  .calendar-column {
    flex: 1;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .calendar-content {
      min-width: max-content;

      .calendar-header {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
      }

      .day-cell {
        min-width: 50px;
        flex: 0 0 50px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;

        .day-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .day-of-week {
            font-size: 0.7rem;
            color: #666;
          }

          .day-of-month {
            font-size: 0.9rem;
          }
        }
      }

      .summary-cell {
        flex: 0 0 110px;
        height: 40px;
        position: sticky;
        background: #f8f9fa;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-last-child(2) {
          right: 110px;
        }

        &:last-child {
          right: 0;
          border-left: 1px solid #dee2e6;
        }
      }


      .employee-shift {
        min-width: 50px;
        flex: 0 0 50px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: pre-line;
        line-height: 1.1;
        flex-direction: column;
        font-size: 0.8rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

.card {
  max-height: 80vh;

  .card-body {
    max-height: 70vh;
  }
}
