<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h5>Редагувати працівника</h5>
      </div>

      <div class="col-1">
        <button
          class="btn-close"
          (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form
          id="editEmployeeForm"
          [formGroup]="form"
          (ngSubmit)="save()">

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  formControlName="surname">

                <label
                  class="form-label"
                  for="surname">
                  Прізвище:
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name">

                <label
                  class="form-label"
                  for="name">
                  Ім'я:
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="patronymic"
                  formControlName="patronymic">

                <label
                  class="form-label"
                  for="patronymic">
                  По-батькові:
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="phoneNumber"
                  formControlName="phoneNumber">

                <label
                  class="form-label"
                  for="phoneNumber">
                  Номер телефону:
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email">

                <label
                  class="form-label"
                  for="email">
                  Email:
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <select
                  formControlName="gender"
                  class="form-select"
                  id="gender">
                  <option [ngValue]="null">Не вказано</option>
                  <option [ngValue]="'Male'">Чоловік</option>
                  <option [ngValue]="'Female'">Жінка</option>
                </select>

                <label
                  class="form-label"
                  for="gender">
                  Стать:
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="date"
                  id="dateOfBirth"
                  class="form-control"
                  formControlName="dateOfBirth">

                <label
                  class="form-label"
                  for="dateOfBirth">
                  Дата народження:
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="unit"
                  formControlName="unitId"
                  (change)="onUnitChange($event)">
                  @for (unit of units(); track unit.id) {
                    <option [value]="unit.id">
                      {{ unit.name }}
                    </option>
                  }
                </select>

                <label
                  class="form-label"
                  for="unit">
                  Регіон
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <select
                  class="form-control"
                  id="department"
                  formControlName="departmentId">
                  @for (department of departments(); track department.id) {
                    <option [ngValue]="department.id">
                      {{ department.name }}
                    </option>
                  }
                </select>

                <label
                  class="form-label"
                  for="department">
                  Департамен
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="position"
                  formControlName="positionId">
                  @for (position of positions(); track position.id) {
                    <option [ngValue]="position.id">
                      {{ position.name }}
                    </option>
                  }
                </select>

                <label
                  class="form-label"
                  for="position">
                  Посада
                </label>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-light shadow"
                (click)="bsModalRef.hide()">
                Скасувати
              </button>
            </div>

            <div class="col-auto">
              <button
                class="btn btn-primary shadow"
                type="submit"
                form="editEmployeeForm"
                [class.disabled]="!form.valid"
                [disabled]="!form.valid">Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
