<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h5>Додати посаду</h5>
      </div>

      <div class="col-1">
        <button
          class="btn-close"
          (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form
          id="createPositionForm"
          [formGroup]="form"
          (ngSubmit)="createPosition()">
          <div class="form-floating mb-3">
            <input
              id="name"
              class="form-control"
              type="text"
              formControlName="name">

            <label
              class="form-label"
              for="name">
              Назва:
            </label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="text"
              id="description"
              formControlName="description">

            <label
              class="form-label"
              for="description">
              Опис:
            </label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="number"
              id="hourlyRate"
              formControlName="hourlyRate">

            <label
              class="form-label"
              for="hourlyRate">
              Ставка:
            </label>
          </div>

          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-light shadow"
                (click)="bsModalRef.hide()">
                Скасувати
              </button>
            </div>

            <div class="col-auto">
              <button
                class="btn btn-primary shadow"
                type="submit"
                form="createPositionForm"
                [class.disabled]="!form.valid"
                [disabled]="!form.valid"
              >Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
