<div class="register-container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card shadow mt-5 mt-xl-10 mb-4">
          <div class="row g-0">
            <div class="col">
              <div class="card-body p-5">
                <div class="row justify-content-around">
                  <div class="col">
                    <div class="row justify-content-start">
                      <div class="col-auto">
                        <h1 class="h1 display-5 mb-3">Реєстрація</h1>
                      </div>
                    </div>

                    <form
                      id="registerForm"
                      class="login-form"
                      [formGroup]="form"
                      (ngSubmit)="register()">

                      <div class="row justify-content-around">
                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="surname"
                              type="text"
                              formControlName="surname">

                            <label class="form-label" for="surname">
                              Прізвище:
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="name"
                              type="text"
                              formControlName="name">

                            <label
                              class="form-label"
                              for="name">
                              Ім'я:
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-around">
                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="patronymic"
                              type="text"
                              formControlName="patronymic">

                            <label
                              class="form-label"
                              for="patronymic">
                              По-батькові:
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">

                            <input
                              class="form-control"
                              id="phoneNumber"
                              type="text"
                              formControlName="phoneNumber">

                            <label
                              class="form-label"
                              for="phoneNumber">
                              Телефон:
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-around">
                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="email"
                              type="email"
                              formControlName="email">

                            <label
                              class="form-label"
                              for="email">
                              Email:
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <select
                              formControlName="gender"
                              class="form-select"
                              id="gender">
                              <option [ngValue]="null">Не вказано</option>
                              <option [ngValue]="'Male'">Чоловік</option>
                              <option [ngValue]="'Female'">Жінка</option>
                            </select>

                            <label
                              class="form-label"
                              for="gender">
                              Стать:
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-around">
                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="password"
                              type="password"
                              formControlName="password"
                              [type]="isPasswordVisible() ? 'text' : 'password'">

                            <button
                              type="button"
                              class="password-eye-btn"
                              (click)="isPasswordVisible.set(!isPasswordVisible())">

                              <i class="bi bi-eye-slash-fill"
                                 *ngIf="isPasswordVisible()">
                              </i>

                              <i class="bi bi-eye-fill"
                                 *ngIf="!isPasswordVisible()">
                              </i>
                            </button>

                            <label
                              class="form-label"
                              for="password">
                              Пароль:
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="confirmPassword"
                              type="password"
                              formControlName="confirmPassword"
                              [type]="isConfirmPasswordVisible() ? 'text' : 'password'">

                            <button
                              type="button"
                              class="password-eye-btn"
                              (click)="isConfirmPasswordVisible.set(!isConfirmPasswordVisible())">

                              <i class="bi bi-eye-slash-fill"
                                 *ngIf="isConfirmPasswordVisible()">
                              </i>

                              <i class="bi bi-eye-fill"
                                 *ngIf="!isConfirmPasswordVisible()">
                              </i>
                            </button>

                            <label
                              class="form-label"
                              for="confirmPassword">
                              Підтвердження паролю:
                            </label>

                            <div *ngIf="form.errors?.['passwordsNotMatch'] && form.get('confirmPassword')?.touched">
                              <p style="color: var(--pink-color)">Паролі не співпадають</p>
                            </div>
                          </div>
                        </div>

                        <div class="row justify-content-between align-items-end p-0">
                          <div class="col">
                            <a class="fw-500" routerLink="/account/login">Увійти</a>
                          </div>

                          <div class="col d-flex justify-content-end">
                            <button
                              class="btn btn-primary"
                              type="submit"
                              form="registerForm"
                              [class.disabled]="!form.valid" [disabled]="!form.valid">
                              Зареєструватись
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                      <div class="col">
                        <img
                          class="logo"
                          src="/assets/icons/cube_large.svg"
                          alt="ShiftTrack">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <h1 class="h1">ShiftTrack</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
