.main-card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(8px);
}

.main-card-body {
}

i {
  cursor: default;
  font-size: 40px;
}

.count-btn {
  cursor: pointer;
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #ffffff 0%, rgba(234, 227, 253) 100%);
  box-shadow: 0 4px 14px rgba(13, 110, 253, 0.12);

  i {
    font-size: 20px;
  }
}
