<div class="row align-items-start justify-content-between mb-3">
  <div class="col">
    <h3 class="mb-1">Робочі зміни</h3>
    <p class="text-secondary mb-0">Налаштування типів змін та робочих годин</p>
  </div>

  <div class="col-3">
    <button
      class="btn btn-primary btn-sm mt-2 ms-auto d-flex align-items-center gap-2"
      (click)="openCreateShiftModal()">
      <i class="text-white bi bi-plus"></i>
      Додати зміну
    </button>
  </div>
</div>

<div class="main-card shadow">
  <div class="p-3 position-relative">
    @if (isLoading()) {
      <div class="spinner-overlay">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }

    <div class="mb-4">
      <h5 class="mb-3">
        Робочі зміни
        <span class="text-secondary">({{ workdayShifts.length }})</span>
      </h5>

      <div class="row g-3">
        @for (shift of workdayShifts; track shift.id) {
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="shift-badge" [style.background]="shift.color">
                      {{ shift.code }}
                    </div>
                  </div>

                  <div class="col">
                    <span class="text-secondary">{{ shift.description }}</span>
                    <br>

                    @if (shift.workHours != null) {
                      <span class="mb-0 text-secondary">
                        <i class="bi bi-clock me-1"></i>
                        {{ shift.workHours }}
                      </span>
                    }
                  </div>

                  <div class="col-auto">
                    <div class="dropdown dropdown-hover">
                      <button class="btn btn-link p-0 text-secondary" type="button">
                        <i class="bi bi-three-dots"></i>
                      </button>

                      <ul class="dropdown-menu dropdown-menu-end p-2">
                        <li>
                          <a class="dropdown-item" role="button" (click)="openEditShiftModal(shift)">
                            <i class="bi bi-pencil"></i> Редагувати
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" role="button" (click)="openDeleteConfirmation(shift)">
                            <i class="bi bi-trash"></i> Видалити
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="shift-group">
      <h5 class="mb-3">
        Відсутності
        <span class="text-secondary">({{ absenceShifts.length }})</span>
      </h5>

      <div class="row g-3">
        @for (shift of absenceShifts; track shift.id) {
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <div class="shift-badge" [style.background]="shift.color">
                      {{ shift.code }}
                    </div>
                  </div>

                  <div class="col">
                    <span class="text-secondary">{{ shift.description }}</span>
                    <br>

                    @if (shift.workHours != null) {
                      <span class="mb-0 text-secondary">
                        <i class="bi bi-clock me-1"></i>
                        {{ shift.workHours }}
                      </span>
                    }
                  </div>

                  <div class="col-auto">
                    <div class="dropdown dropdown-hover">
                      <button class="btn btn-link p-0 text-secondary" type="button">
                        <i class="bi bi-three-dots"></i>
                      </button>

                      <ul class="dropdown-menu dropdown-menu-end p-2">
                        <li>
                          <a class="dropdown-item" role="button" (click)="openEditShiftModal(shift)">
                            <i class="bi bi-pencil"></i> Редагувати
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" role="button" (click)="openDeleteConfirmation(shift)">
                            <i class="bi bi-trash"></i> Видалити
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

