<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h5>Підтвердження видалення</h5>
      </div>

      <div class="col-1">
        <button type="button" class="btn-close" (click)="decline()"></button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Ви впевнені, що хочете видалити {{ entityName }} "{{ itemName }}"?</p>
      </div>
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-auto">
        <button class="btn btn-light shadow" (click)="decline()">Скасувати</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary shadow" (click)="confirm()">Видалити</button>
      </div>
    </div>
  </div>
</div>
