<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-3">
                  <div class="profile-image-container">
                    <img class="profile-image" [src]="profilePhotoUrl()" alt="Profile">
                    <div class="profile-image-overlay">
                      <button class="btn btn-light btn-sm" (click)="triggerFileInput()">
                        <i class="bi bi-camera-fill"></i> Змінити фото
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h6 class="h6">{{ employee()?.fullName }}</h6>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      @if (employee()?.position) {
                        <i class="bi bi-person-workspace"></i>
                        {{ employee()?.position?.name }}
                      }
                    </div>


                    <div class="col">
                      <i class="bi bi-telephone"></i>
                      {{ employee()?.phoneNumber }}
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      @if (employee()?.department?.unit) {
                        <i class="bi bi-buildings"></i>
                        {{ employee()?.department?.unit?.description }}
                      }
                    </div>

                    <div class="col">
                      <i class="bi bi-envelope"></i>
                      {{ employee()?.email }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      @if (employee()?.department) {
                        <i class="bi bi-building"></i>
                        {{ employee()?.department?.name }}
                      }
                    </div>

                    <div class="col">
                      @if (employee()?.dateOfBirth) {
                        <i class="bi bi-cake2"></i>
                        {{ employee()?.dateOfBirth | date: 'dd.MM.yyyy' }}
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          @if (employeeRoles().length > 0) {
            <h6 class="h6 mt-4">Ролі співробітника</h6>

            <div class="card d-flex flex-column roles-card">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <strong>Назва ролі</strong>
                  </div>

                  <div class="col-2">
                    <strong>Тип</strong>
                  </div>

                  <div class="col">
                    <strong>Регіон</strong>
                  </div>

                  <div class="col">
                    <strong>Департамент</strong>
                  </div>
                </div>
              </div>

              <div class="card-body position-relative overflow-auto">
                @for (employeeRole of employeeRoles(); track employeeRole.id; let index = $index) {
                  <div
                    class="row mt-1 mb-1"
                    [ngClass]="{ 'bg-body-tertiary': index % 2 === 0 }">
                    <div class="col">
                      <strong>{{ employeeRole.role.name }}</strong>
                    </div>

                    <div class="col-2">
                      {{ getRoleScopeString(employeeRole.scope) }}
                    </div>

                    <div class="col">
                      @for (employeeRoleUnit of employeeRole.units; track employeeRoleUnit.id) {
                        <div class="row">
                          <div class="col">
                            {{ employeeRoleUnit.unit.description }}
                          </div>
                        </div>
                        @for (_ of getEmptyRows(employeeRoleUnit.departments.length); track $index) {
                          <div class="row">
                            &nbsp;
                          </div>
                        }
                      }
                    </div>

                    <div class="col">
                      @for (employeeRoleUnit of employeeRole.units; track employeeRoleUnit.id) {
                        @for (employeeRoleUnitDepartment of employeeRoleUnit.departments; track employeeRoleUnitDepartment.id) {
                          <div class="row">
                            {{ employeeRoleUnitDepartment.department.name }}
                          </div>
                        }
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
