<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h5>Додати робочу зміну</h5>
      </div>

      <div class="col-1">
        <button class="btn-close" (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form
          [formGroup]="form"
          id="createShiftForm"
          (ngSubmit)="save()">

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  type="text"
                  id="code"
                  formControlName="code">

                <label
                  class="form-label"
                  for="code">
                  Код:
                </label>
              </div>
            </div>

            <div class="col">
              <div class="form-floating mb-3">
                <select
                  formControlName="type"
                  id="type"
                  class="form-select">
                  <option [ngValue]="null">Не обрано</option>
                  <option [ngValue]="'Workday'">Робоча зміна</option>
                  <option [ngValue]="'Vacation'">Відпустка</option>
                  <option [ngValue]="'DayOff'">Вихідний</option>
                  <option [ngValue]="'Holiday'">Свято</option>
                  <option [ngValue]="'None'">Інше</option>
                </select>

                <label class="form-label" for="type">
                  Тип зміни:
                </label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="form.get('type')?.value === 'Workday'">
            <div class="col">
              <label>
                Час початку:
              </label>

              <timepicker
                formControlName="startTime"
                [hourStep]="1"
                [minuteStep]="5"
                [showMeridian]="false">
              </timepicker>
            </div>

            <div class="col">
              <label>
                Час закінчення:
              </label>

              <timepicker
                formControlName="endTime"
                [hourStep]="1"
                [minuteStep]="5"
                [showMeridian]="false">
              </timepicker>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  type="text"
                  formControlName="description"
                  id="description">

                <label
                  class="form-label"
                  for="description">
                  Опис:
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label
                class="form-label">
                Колір:
              </label>
            </div>

            <div class="col-1">
              <app-color-picker
                [color]="selectedColor"
                (colorChange)="selectedColor = $event">
              </app-color-picker>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-end">
              <button
                class="btn btn-primary"
                type="submit"
                form="createShiftForm"
                [class.disabled]="!form.valid"
                [disabled]="!form.valid"
              >Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
