.header {
  height: 60px;
  background-color: var(--light-color);
}

.logo-text {
  font-weight: bold;
  color: var(--primary-color);
}

.account button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0.5rem;
  transition: all 0.2s;
  min-width: 100px;
}

i {
  color: #6F6797;
}

.bi-person-fill{
  font-size: 25px;
}

.bi-chevron-compact-up, .bi-chevron-compact-down{
  font-size: 15px;
}

.account button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
  padding: 16px 12px;
}

.dropdown-item {
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #E7E0FD;
    border-radius: 0.25rem;
    color: #423D4F !important;
  }
}

a {
  color: #6F6797;
}

a img {
  width: 25px;
  height: 25px;
}
