<div class="row align-items-start justify-content-between mb-3">
  <div class="col">
    <h3 class="mb-1">Посади</h3>
    <p class="text-secondary mb-0">Керуйте правами користувачів</p>
  </div>

  <div class="col-3">
    <button
      class="btn btn-primary btn-sm mt-2 ms-auto d-flex align-items-center gap-2"
      (click)="openCreatePositionModal()">
      <i class="text-white bi bi-plus"></i>
      Додати посаду
    </button>
  </div>
</div>

<div class="main-card shadow p-3">
  <div class="position-relative">
    @if (isLoading()) {
      <div class="spinner-overlay">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }

    <div class="row g-3">
      @for (position of positions(); track position.id; ) {
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 ">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5>{{ position.name }}</h5>
                  <p class="text-secondary mb-0">{{ position.description }}</p>
                </div>

                <div class="col-auto justify-content-end">
                  <div class="dropdown dropdown-hover">
                    <button class="btn btn-link p-0 text-secondary" type="button">
                      <i class="bi bi-three-dots"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end p-2">
                      <li>
                        <a class="dropdown-item" role="button" (click)="openEditPositionModal(position)">
                          <i class="bi bi-pencil"></i> Редагувати
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" role="button" (click)="openDeleteConfirmation(position)">
                          <i class="bi bi-trash"></i> Видалити
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
