<div class="login-container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="card shadow mt-5 mt-xl-10 mb-4">
          <div class="row g-0">
            <div class="col">
              <div class="card-body p-5">
                <div class="row justify-content-between">
                  <div class="col">
                    <div class="row justify-content-start">
                      <div class="col-auto">
                        <h1 class="h1 display-5 mb-3">Вхід</h1>
                      </div>
                    </div>

                    <form
                      class="mb-5"
                      [formGroup]="form"
                      (ngSubmit)="login()">

                      <div class="form-floating mb-3">
                        <input
                          id="login"
                          class="form-control"
                          type="text"
                          placeholder="+380XXXXXXXXX"
                          formControlName="login">

                        <label
                          for="login"
                          class="form-label">
                          Телефон:
                        </label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="floatingPassword"
                          type="password"
                          placeholder="Мінімум 6 символів"
                          formControlName="password"
                          [type]="isPasswordVisible() ? 'text' : 'password'">

                        <button
                          type="button"
                          class="password-eye-btn"
                          (click)="isPasswordVisible.set(!isPasswordVisible())">

                          <i class="bi bi-eye-slash-fill"
                             *ngIf="isPasswordVisible()">
                          </i>

                          <i class="bi bi-eye-fill"
                             *ngIf="!isPasswordVisible()">
                          </i>
                        </button>

                        <label
                          class="form-label"
                          for="floatingPassword">
                          Пароль:
                        </label>
                      </div>

                      <div class="row p-0 justify-content-between align-items-end">
                        <div class="col text-start">
                          <a class="fw-500"
                             routerLink="/account/register">
                            Зареєструватись
                          </a>
                        </div>

                        <div class="col d-flex justify-content-end">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            [class.disabled]="!form.valid"
                            [disabled]="!form.valid">Увійти
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="col d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                      <div class="col">
                        <img class="logo" src="/assets/icons/cube_large.svg" alt="ShiftTrack">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <h1 class="h1">ShiftTrack</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
