.vacations-card {
  height: 60vh;

  .card-body {
    height: 55vh;
  }
}

.status {
  i {
    cursor: default;
  }

  .status-approved {
    color: #198754;
  }

  .status-rejected {
    color: #dc3545;
  }

  .status-pending-approval {
    color: #FDBB43;
  }
}
