.vacations-card {
  height: 60vh;

  .card-body {
    height: 55vh;
  }
}

.status-approved {
  color: #198754;
  background-color: #d1e7dd;
  border-radius: 20px;
}

.status-rejected {
  color: #dc3545;
  background-color: #f8d7da;
  border-radius: 20px;
}
