<div class="card shadow mb-4">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row mb-3">
        <div class="col-3">
          <div class="form-floating">
            <select
              class="form-control form-control-sm"
              formControlName="unitId"
              id="unit"
              (change)="onUnitChange($event)">
              <option value="null">Оберіть регіон</option>
              @for (unit of units(); track unit.id) {
                <option value="{{unit.id}}">{{ unit.name }}</option>
              }
            </select>

            <label class="form-label" for="unit">
              Регіон:
            </label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <select
              class="form-control form-control-sm"
              id="department"
              formControlName="departmentId"
              (change)="onDepartmentChange($event)">
              <option value="null">Оберіть департамент</option>
              @for (department of departments(); track department.id) {
                <option value="{{department.id}}">{{ department.name }}</option>
              }
            </select>

            <label class="form-label" for="department">
              Департамент:
            </label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <select
              class="form-control form-control-sm"
              id="vacationStatus"
              formControlName="vacationStatus"
              (change)="onVacationStatusChange($event)">
              <option value="None">Всі</option>
              <option value="PendingApproval">Очікує затвердежння</option>
              <option value="ApprovedByDepartmentDirector">Затверджено директором</option>
              <option value="ApprovedByUnitDirector">Затверджено регіональним директором</option>
              <option value="Rejected">Відхилено</option>
            </select>

            <label class="form-label" for="vacationStatus">
              Статус:
            </label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <input
              class="form-control form-control-sm"
              id="search"
              type="text"
              formControlName="searchPattern"
              (input)="onSearchChange($event)">

            <label class="form-label" for="search">
              Пошук:
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="form-floating">
            <input
              id="dateFrom"
              type="date"
              class="form-control"
              (change)="onDateChange($event)"
              formControlName="dateFrom">

            <label
              class="form-label"
              for="dateFrom">
              Дата початку:
            </label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating">
            <input
              class="form-control"
              type="date"
              id="dateTo"
              (change)="onDateChange($event)"
              formControlName="dateTo">

            <label
              class="form-label"
              for="dateTo">
              Дата закінчення:
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

@if (vacations().length > 0) {
  <div class="card shadow d-flex flex-column vacations-card">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <strong>
            П.І.Б.
          </strong>
        </div>

        <div class="col">
          <strong>
            Початок
          </strong>
        </div>

        <div class="col">
          <strong>
            Завершення
          </strong>
        </div>

        <div class="col-auto">
          <strong>
            Днів
          </strong>
        </div>

        <div class="col">
          <strong>
            Тип
          </strong>
        </div>

        <div class="col">
          <strong>
            Створено
          </strong>
        </div>

        <div class="col">
          <strong>
            Статус
          </strong>
        </div>

        <div class="col"></div>
      </div>
    </div>

    <div class="card-body pt-0 position-relative overflow-auto">
      @if (isLoading()) {
        <div class="spinner-overlay">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }

      @for (vacation of vacations(); track vacation.id; let index = $index) {
        <div
          class="row pt-3 pb-3"
          [ngClass]="{ 'bg-body-tertiary': index % 2 !== 0 }">
          <div class="col-2 text-truncate">
            <strong>{{ vacation.employee.fullName }}</strong>
          </div>

          <div class="col text-truncate">
            {{ vacation.startDate  | date: 'dd.MM.yyyy' }}
          </div>

          <div class="col text-truncate">
            {{ vacation.endDate  | date: 'dd.MM.yyyy' }}
          </div>

          <div class="col-auto text-truncate">
            {{ vacation.daysCount }}
          </div>

          <div class="col text-truncate">
            {{ getVacationTypeString(vacation.type) }}
          </div>

          <div class="col text-truncate">
            {{ vacation.createdAt  | date: 'dd.MM.yyyy' }}
          </div>

          <div class="col d-flex status">
            @if (vacation.status === VacationStatus.PendingApproval) {
              <i class="bi bi-check2 status-pending-approval"
                 tooltip="Очікує затвердження"
                 placement="top"
                 containerClass="custom-tooltip">
              </i>
            }

            @if(vacation.status === VacationStatus.ApprovedByDepartmentDirector) {
              <i class="bi bi-check2-circle status-approved"
                 tooltip="Затверджено директором"
                 placement="top"
                 containerClass="custom-tooltip">
              </i>
            }

            @if (vacation.status === VacationStatus.ApprovedByUnitDirector) {
              <i class="bi bi-person-check status-approved"
                 tooltip="Затверджено регіональним директором"
                 placement="top"
                 containerClass="custom-tooltip">
              </i>
            }

            @if (vacation.status === VacationStatus.Rejected) {
              <i class="bi bi-x-circle status-rejected"
                 tooltip="Відхилено"
                 placement="top"
                 containerClass="custom-tooltip">
              </i>
            }
          </div>

          <div class="col-1 d-flex justify-content-between">
            <i class="bi bi-pencil"
               (click)="openEditVacationModal(vacation)"
            ></i>

            <i class="bi bi-trash"
               (click)="openDeleteConfirmation(vacation)"
            ></i>
          </div>
        </div>
      }
    </div>

    <button class="floating-action-button">
      <i class="bi bi-plus"
         (click)="openCreateVacationModal()"></i>
    </button>
  </div>
}
