<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row" [formGroup]="form">
      <div class="col-3">
        <div class="form-floating">
          <select
            class="form-control form-control-sm"
            formControlName="unitId"
            id="unit"
            (change)="onUnitChange($event)">
            <option value="null">Оберіть регіон</option>
            @for (unit of units(); track unit.id) {
              <option value="{{unit.id}}">{{ unit.name }}</option>
            }
          </select>

          <label class="form-label" for="unit">
            Регіон:
          </label>
        </div>
      </div>

      <div class="col-3">
        <div class="form-floating">
          <select
            class="form-control form-control-sm"
            id="department"
            formControlName="departmentId"
            (change)="onDepartmentChange($event)">
            <option value="null">Оберіть департамент</option>
            @for (department of departments(); track department.id) {
              <option value="{{department.id}}">{{ department.name }}</option>
            }
          </select>

          <label class="form-label" for="department">
            Департамент:
          </label>
        </div>
      </div>

      <div class="col-3">
        <div class="form-floating">
          <input
            class="form-control form-control-sm"
            id="search"
            type="text"
            formControlName="searchPattern"
            (input)="onSearchChange($event)">

          <label class="form-label" for="search">
            Пошук:
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow d-flex flex-column phones-card">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <strong>
          ПІБ
        </strong>
      </div>

      <div class="col">
        <strong>
          Мобільний
        </strong>
      </div>

      <div class="col">
        <strong>
          Email
        </strong>
      </div>

      <div class="col">
        <strong>
          Регіон
        </strong>
      </div>

      <div class="col">
        <strong>
          Департамент
        </strong>
      </div>

      <div class="col">
        <strong>
          Посада
        </strong>
      </div>
    </div>
  </div>

  <div class="card-body pt-0 position-relative overflow-auto">
    @if (isLoading()) {
      <div class="spinner-overlay">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }

    @if (errorMessage()) {
      <div class="alert alert-danger m-3">
        {{ errorMessage() }}
      </div>
    }

    @for (employee of employees(); track employee.id; let index = $index) {
      <div
        class="row pt-3 pb-3"
        [ngClass]="{ 'bg-body-tertiary': index % 2 !== 0 }">
        <div class="col-3 text-truncate">
          <strong>{{ employee.fullName }}</strong>
        </div>

        <div class="col text-truncate">
          {{ employee.phoneNumber }}
        </div>

        <div class="col text-truncate">
          {{ employee.email }}
        </div>

        <div class="col text-truncate">
          {{ employee.department?.unit?.name }}
        </div>

        <div class="col text-truncate">
          {{ employee.department?.name }}
        </div>

        <div class="col text-truncate">
          {{ employee.position?.name }}
        </div>
      </div>
    }
  </div>
</div>
