<div class="main-card">
  <div class="row p-3">
    <div class="col">
      <div class="row mb-3">
        <div class="col">
          <div class="card p-3">
            <div class="row">
              <div class="col">
                <div class="profile-image-container mb-2">
                  <img class="profile-image" [src]="profilePhotoUrl()" alt="Profile">
                  <div class="profile-image-overlay">
                    <button class="btn btn-light btn-sm text-light" (click)="triggerFileInput()">
                      <i class="bi bi-camera-fill"></i> Змінити фото
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <h5 class="mb-0">{{ employee()?.fullName }}</h5>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <h6>Ролі співробітника</h6>

        @for (employeeRole of employeeRoles(); track employeeRole.id; ) {
          <div>{{ employeeRole.role.name }}</div>
        }
      </div>
    </div>

    <div class="col-9">
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <form
                id="editProfileForm"
                [formGroup]="form"
                (ngSubmit)="save()">

                <div class="border-bottom mb-3">
                  <h5>Основна інформація</h5>
                  <div class="row justify-content-around">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="surname"
                          type="text"
                          formControlName="surname">

                        <label
                          class="form-label"
                          for="surname">
                          Прізвище:
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="name"
                          type="text"
                          formControlName="name">

                        <label
                          class="form-label"
                          for="name">
                          Ім'я:
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-around">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="patronymic"
                          type="text"
                          formControlName="patronymic">

                        <label class="form-label" for="patronymic">
                          По-батькові:
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          type="date"
                          class="form-control"
                          formControlName="dateOfBirth">

                        <label class="form-label" for="email">
                          Дата народження:
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="border-bottom mb-3">
                  <h5>Контакти</h5>
                  <div class="row justify-content-around">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="email"
                          type="email"
                          placeholder="user@example.com"
                          formControlName="email">

                        <label
                          class="form-label"
                          for="email">
                          Email:
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="phoneNumber"
                          type="text"
                          placeholder="+380XXXXXXXXX"
                          formControlName="phoneNumber">

                        <label
                          class="form-label"
                          for="phoneNumber">
                          Телефон:
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="border-bottom mb-3">
                  <h5>Робоча інформація</h5>

                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      @if (employee()?.department?.unit) {
                        <i class="bi bi-buildings text-primary"></i>
                        {{ employee()?.department?.unit?.description }}
                      }
                    </div>

                    <div class="col-lg-6 col-md-6">
                      @if (employee()?.position) {
                        <i class="bi bi-person-workspace text-primary"></i>
                        {{ employee()?.position?.name }}
                      }

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      @if (employee()?.department) {
                        <i class="bi bi-building text-primary"></i>
                        {{ employee()?.department?.name }}
                      }
                    </div>
                  </div>
                </div>

                <div class="form-floating">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    form="editProfileForm"
                    [class.disabled]="!form.valid"
                    [disabled]="!form.valid">
                    Зберегти
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

