.btn-add {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
}

.employee-name {
  cursor: pointer;
}

.employee-role {
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #E7E0FD;
    border-radius: 10px;
    color: #423D4F !important;

    i {
      color: var(--primary-color);
    }
  }
}
