@import "margins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": #6200ea,
);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --dark-color: #171717;
  --dark-hover-color: #212121;
  --light-color: #ffffff;
  --primary-color: #6200ea;
  --primary-hover-color: #6200ea;
  --grey-color: #F5F5F5;
  --grey-hover-color: #5f646d;
  --pink-color: #e6268d;
  --lavender-color: #f6f0fe;
  --grean-color: #157347;
  --light-grean-color: #E8F5E9;
  --red-color: #BB2D3B;
  --light-red-color: #FBE9E7;

}

body {
  background-image: url('../public/assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

i {
  color: #ae7aff;
  font-size: 20px;
  cursor: pointer;
}

.bg-primary {
  background-color: #6200ea !important;
  color: var(--light-color);
}

.bg-gray-hover:hover {
  background-color: var(--grey-color) !important;
  color: var(--dark-color);
}

.btn-lavender {
  background-color: var(--light-color) !important;
  color: #6200ea !important;
  border: none;
}

.btn-lavender:hover {
  background-color: var(--lavender-color) !important;
}

.btn-success {
  color: var(--grean-color) !important;
  border: none;
}

.btn-success:active {
  background-color: var(--light-grean-color) !important;
}

.btn-success:hover {
  background-color: var(--light-grean-color);
}

.btn-danger {
  color: var(--red-color) !important;
  border: none;
}

.btn-danger:active {
  background-color: var(--light-red-color) !important;
}

.btn-danger:hover {
  background-color: var(--light-red-color);
}

.btn-close {
  color: var(--light-color) !important;
}

.icon-button {
  cursor: pointer;
}

.text-primary {
  color: #6200ea !important;
}

.text-bg-primary {
  background-color: #6200ea !important;
  color: var(--light-color) !important;
}

.dropdown-item {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary-color);
  color: var(--light-color) !important;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--primary-color) !important;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-check-input:active {
  filter: brightness(90%);
}


.page-item {
  cursor: pointer;
}

.btn {
  color: var(--light-color);
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  padding: 10px 40px !important;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.h2 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
}

.form-control:hover {
  border-color: var(--primary-color) !important;
  outline: none;
}

.logo {
  height: 200px;
  width: 200px;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--grey-color);
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}

.action-btn-icon {
  cursor: pointer;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  border-radius: 5%;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.floating-action-button {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ae7aff;
  border: none;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;

  i {
    color: var(--light-color);
  }
}

.floating-action-button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

.floating-action-button:active {
  transform: scale(0.95);
}

.tooltip.custom-tooltip .tooltip-inner {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
  border: 1px solid #dee2e6;
  font-size: 14px !important;
  border-radius: 4px !important;
}

.tooltip.custom-tooltip .tooltip-arrow::before {
  border-top-color: #dee2e6 !important;
}
